<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        #was-me {
            color: #00FA00;
        }

        #wasnt-me {
            color: #FF0000;
        }

        #link {
            font-weight: bold;
            font-size: 20px;
        }
    </style>
</head>

<body>
<div>
  <h1>Hello there! :>)</h1>
  <h3>You've tried recently create an account on our server! So I need your confirmation:</h3>
  <ul>
      <li id="was-me">It was me! And I want to open an acount on Portoflio Website! -> Just click <a href="{{ link }}" id="link">here.</li>
      <li id="wasnt-me">It wasn't me! What do i do? -> Chill! No problem!</li>
  </ul>

    <h4>Token expires on {{ expiry|time:"H:i:a" }}</h4>
</div>

</body>
</html>